<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VIsuaization</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js' )}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<style>
	body { padding-bottom: 70px; }
	</style>
</head>
<body>

	<nav class="navbar navbar-fixed-top navbar-inverse">
	  	<div class="container-fluid">
	    	<div class="navbar-header">
      			<a class="navbar-brand" href="#">NextWave Data Science</a>
    		</div>
		    <ul class="nav navbar-nav" style="margin-left:28%">
		      	<li class="active"><a href="#">Home</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right" style="margin-right:3%">
      			<li><a href="{{ url_for('index') }}" style="font-size:16px;"><span class="glyphicon glyphicon-lock"></span>HOME</a></li>
    		</ul>
	  	</div>
	</nav>

	<div class="fluid-container" style="margin-top:10%">
		<div class="row">
			<div class="col-md-6" style="margin-top:120px">
				<div id="msg" style="font-size:32px; text-align:center"> 
					<span id="text_target"></span>
				</div>
				<form action="{{ url_for('layout') }}" method="post" style="margin-top:20px">
						<button type="submit" class="btn btn-success" style="margin-left:25%;width:50%;">Load Project</button>
				</form>
			</div>

			<div class="col-md-6" style="margin-top:80px">
				<div id="chart_div"></div>
			</div>
		</div>
	</div>	
	<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
  		<div class="fluid-container">
   			<div class="navbar-header" style="margin-left:34%">
      			<a class="navbar-brand" href="#" style="font-size:14px">copyright &copy; 2016. Created by Vaishnavi Kanduri</a>
    		</div>
  		</div>
	</nav>

	<script>
		var showText = function (target, message, index, interval) {    
		if (index < message.length) { 
	    	$(target).append(message[index++]); 
	    	setTimeout(function () { showText(target, message, index, interval); }, interval); 
	  		} 
		}
		
		setInterval($(function(){ showText("#msg", "Auto visualization + Interactive visualization", 0, 50);}),1000);

		google.charts.load('current', {packages: ['corechart', 'bar']});
		google.charts.setOnLoadCallback(drawColColors);

		function drawColColors() {
		      var data = new google.visualization.DataTable();
		      data.addColumn('timeofday', 'Time of Day');
		      data.addColumn('number', 'Motivation Level');
		      data.addColumn('number', 'Energy Level');

		      data.addRows([
		        [{v: [8, 0, 0], f: '8 am'}, 1, .25],
		        [{v: [9, 0, 0], f: '9 am'}, 2, .5],
		        [{v: [10, 0, 0], f:'10 am'}, 3, 1],
		        [{v: [11, 0, 0], f: '11 am'}, 4, 2.25],
		        [{v: [12, 0, 0], f: '12 pm'}, 5, 2.25],
		        [{v: [13, 0, 0], f: '1 pm'}, 6, 3],
		        [{v: [14, 0, 0], f: '2 pm'}, 7, 4],
		        [{v: [15, 0, 0], f: '3 pm'}, 8, 5.25],
		        [{v: [16, 0, 0], f: '4 pm'}, 9, 7.5],
		        [{v: [17, 0, 0], f: '5 pm'}, 10, 10],
		      ]);

		      var options = {
		        title: 'Motivation and Energy Level Throughout the Day',
		        colors: ['#9575cd', '#33ac71'],
		        hAxis: {
		          title: 'Time of Day',
		          format: 'h:mm a',
		          viewWindow: {
		            min: [7, 30, 0],
		            max: [17, 30, 0]
		          }
		        },
		        vAxis: {
		          title: 'Rating (scale of 1-10)'
		        }
		      };

		      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		      chart.draw(data, options);
	}


	</script>
</body>
</html>